html{
  min-height:100%;
}

body{
  /*background-color: #181818;*/
  margin:0;
  min-height:inherit;
}

h1, h2, h3, h4, p{
  color: white;
}

img{
  vertical-align: middle;
  padding: 5px;
}

.back{
text-align: left;
padding-left: 10px;
padding-top: 10px;
font-size: 20px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
}

.equator{
  float:left;
  text-align: center;
  background-image: url('images/equator_background.jpg');
  background-size: cover;
  background-position:center;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
  display: inline-block;
  min-height:inherit;
}

.jjonah{
  float: right;
  text-align: center;
  background-image: url('images/jjonah_background.jpeg');
  background-size: cover;
  background-position:center;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.45);
  width: 50%;
  display: inline-block;
  min-height:inherit;
}

ul{
  font-size: 50px;
  padding-left: 0;
  /*line-height: 50px;*/
  color: white;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

svg{
  width:25px;
  vertical-align: middle;
  padding:3px;
}

path{
  fill:white;
}

.equatorsocial:hover path{
  fill:#006d95;
}

.equatorlink:hover{
  color:#006d95;
}

.jjonahsocial:hover path{
  fill: orange;
}

.jjonahlink:hover{
  color: orange;
}